
<p class="modal-footer" style="margin-bottom:-10px;"></p>
<div class="cente2">
	<address>

		<strong>foreign teacher.LTD </strong><br/> 长沙市雨花区铭诚国际1315
		<br/>
		<abbr title="Phone">p:</abbr>13807486423
	</address>
	<address>
		<strong>Email</strong><br/>
		<a href="#">1253305432@qq.com</a>
	</address>
</div>
<script language="JavaScript" src="javascripts/jquery-3.2.1.min.js"></script>
<script language="JavaScript" src="javascripts/bootstrap.js"></script>
</body>

</html>